In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
   
df = pd.read_csv('CPSC256_Grades_Fall2023.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 29 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Last name                            26 non-null     object
 1   First name                           26 non-null     object
 2   Primary email                        26 non-null     object
 3   Student ID                           26 non-null     int64
 4   Reading 1 (82)                       26 non-null     float64
 5   Reading 2 (274)                      26 non-null     float64
 6   Reading 3 (31)                       26 non-null     float64
 7   Reading 4/5 (408)                    26 non-null     float64
 8   Midterm Test 1 (50)                  26 non-null     int64
 9   Reading 6/7/8 (341)                  26 non-null     float64
 10  Reading 9 (26)                       26 non-null     int64
 11  Reading 10/11/12 (288)               26 non-null     float64
 12  Reading Chapter 14 (196)             26 non-null     float64
 13  Reading 15 (109)                     26 non-null     float64
 14  Midterm Exam 2 (40)                  26 non-null     float64
 15  Homework Assignment 1 (62)           26 non-null     int64
 16  Homework Assignment 10/11/12 (80)    26 non-null     float64
 17  Homework Assignment 15 (50)          26 non-null     int64
 18  Homework Assignment 2 (125)          26 non-null     float64
 19  Homework Assignment 3 (26)           26 non-null     float64
 20  Homework Assignment 4/5 (90)         26 non-null     float64
 21  Homework Assignment 6/7/8 (93)       26 non-null     float64
 22  Homework Assignment 9 (60)           26 non-null     float64
 23  Homework Assignment Chapter 14 (40)  26 non-null     float64
 24  Project 1 - Part 1 (10)              26 non-null     int64
 25  Project 1 - Part 2 (31)              26 non-null     float64
 26  Final Exam (87)                      26 non-null     float64
 27  Homework Assignment 16/17 (100)      26 non-null     int64
 28  Reading 16/17 (87)                   26 non-null     int64
dtypes: float64(18), int64(8), object(3)
memory usage: 6.0+ KB

In [2]:
df_hw = df.iloc[:, [15,16,17,18,19,20,21,22,23,24,25]]
df['HW'] = df_hw.sum(axis=1)/11.0
df_reading = df.iloc[:, [4,5,6,7,9,10,11,12,13]]
df['Reading'] = df_reading.sum(axis=1)/9.0
df['Final Numerical Grade'] = df['Midterm Test 1 (50)']/100.0*10.0 + df['Midterm Exam 2 (40)']/100.0*10.0+ df['Final Exam (87)']/100.0*30.0 + df['HW']/100.0*30.0 + df['Reading']/100.0*20.0
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 32 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Last name                            26 non-null     object
 1   First name                           26 non-null     object
 2   Primary email                        26 non-null     object
 3   Student ID                           26 non-null     int64
 4   Reading 1 (82)                       26 non-null     float64
 5   Reading 2 (274)                      26 non-null     float64
 6   Reading 3 (31)                       26 non-null     float64
 7   Reading 4/5 (408)                    26 non-null     float64
 8   Midterm Test 1 (50)                  26 non-null     int64
 9   Reading 6/7/8 (341)                  26 non-null     float64
 10  Reading 9 (26)                       26 non-null     int64
 11  Reading 10/11/12 (288)               26 non-null     float64
 12  Reading Chapter 14 (196)             26 non-null     float64
 13  Reading 15 (109)                     26 non-null     float64
 14  Midterm Exam 2 (40)                  26 non-null     float64
 15  Homework Assignment 1 (62)           26 non-null     int64
 16  Homework Assignment 10/11/12 (80)    26 non-null     float64
 17  Homework Assignment 15 (50)          26 non-null     int64
 18  Homework Assignment 2 (125)          26 non-null     float64
 19  Homework Assignment 3 (26)           26 non-null     float64
 20  Homework Assignment 4/5 (90)         26 non-null     float64
 21  Homework Assignment 6/7/8 (93)       26 non-null     float64
 22  Homework Assignment 9 (60)           26 non-null     float64
 23  Homework Assignment Chapter 14 (40)  26 non-null     float64
 24  Project 1 - Part 1 (10)              26 non-null     int64
 25  Project 1 - Part 2 (31)              26 non-null     float64
 26  Final Exam (87)                      26 non-null     float64
 27  Homework Assignment 16/17 (100)      26 non-null     int64
 28  Reading 16/17 (87)                   26 non-null     int64
 29  HW                                   26 non-null     float64
 30  Reading                              26 non-null     float64
 31  Final Numerical Grade                26 non-null     float64
dtypes: float64(21), int64(8), object(3)
memory usage: 6.6+ KB

In [3]:
df_final = df.iloc[:, [0,1,3,30,29,8,14,26,31]]
df_final['Final Letter Grade'] = pd.cut(df_final['Final Numerical Grade'], bins=[0, 49.5, 53.0, 57.0, 59.5, 63.0, 67.0, 69.5, 73.0, 77.0, 79.5, 86.5, 100], labels= ['F', 'D-', 'D', 'D+', 'C-', 'C', 'C+',  'B-', 'B', 'B+', 'A-', 'A'])
df_final

/var/folders/d9/ngkc_5vd72jcm31m7dcphclh0000gn/T/ipykernel_21345/4258819969.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['Final Letter Grade'] = pd.cut(df_final['Final Numerical Grade'], bins=[0, 49.5, 53.0, 57.0, 59.5, 63.0, 67.0, 69.5, 73.0, 77.0, 79.5, 86.5, 100], labels= ['F', 'D-', 'D', 'D+', 'C-', 'C', 'C+',  'B-', 'B', 'B+', 'A-', 'A'])

,Last name,First name,Student ID,Reading,HW,Midterm Test 1 (50),Midterm Exam 2 (40),Final Exam (87),Final Numerical Grade,Final Letter Grade
0,Barry,Ryan,1009269,80.121111,93.088182,100,75.0,74.71,83.863677,A-
1,Chapman,William,1016615,100.000000,94.900000,100,100.0,78.16,91.918000,A
2,Collignon,Christopher,1000162,91.743333,100.000000,100,100.0,100.00,98.348667,A
3,Donohue,Tyler,1006893,88.888889,93.580000,72,82.5,77.01,84.404778,A-
4,Haney,Evan,1006717,100.000000,100.000000,100,100.0,70.11,91.033000,A
5,Harwood,Remy,998216,100.000000,98.624545,100,100.0,68.97,90.278364,A
6,Hausknecht,John,1030554,100.000000,99.431818,100,100.0,97.70,99.139545,A
7,Hill,Ethan,1028377,11.111111,94.428182,94,100.0,98.85,79.605677,A-
8,Kolasch,Luke,1008671,100.000000,100.000000,100,100.0,74.71,92.413000,A
9,Ledger,Ryan,1004866,95.242222,98.257273,100,100.0,66.67,88.526626,A
10,Legum,Ashton,1008320,100.000000,99.659091,100,100.0,64.37,89.208727,A
11,Lopez,Cesar,1008529,97.076667,92.479091,100,100.0,77.01,90.262061,A
12,McEachin,Sean,989684,72.357778,55.896364,100,100.0,87.36,77.448465,B+
13,Murphy,Aidan,1016690,88.850000,78.990909,100,100.0,72.41,83.190273,A-
14,Newlin,Benjamin,1005166,69.423222,97.727273,94,100.0,74.71,85.015826,A-
15,Prochazka,Aidan,1008378,97.955556,98.924545,100,100.0,85.06,94.786475,A
16,Quach,Ngan,995424,100.000000,100.000000,100,100.0,77.01,93.103000,A
17,Quick,Kenny,1014317,100.000000,100.000000,94,100.0,73.56,91.468000,A
18,Rose,Will,996464,99.928889,76.610000,94,80.0,77.01,83.471778,A-
19,Rosen,Ethan,1007205,77.777778,87.750000,100,75.0,77.01,82.483556,A-
20,Sage,Evan,1005189,69.467778,53.583636,100,100.0,78.16,73.416646,B
21,Sanat,Evan,998015,100.000000,98.169091,84,100.0,68.97,88.541727,A
22,Simpson,Jillian,970813,99.716667,77.946000,100,100.0,74.71,85.740133,A-
23,Striano,Joshua,986842,100.000000,99.218182,100,100.0,78.16,93.213455,A
24,Voell,Titus,1012226,82.874444,99.115455,100,100.0,70.11,87.342525,A
25,Zannelli,Alexander,986084,93.674444,81.818182,100,100.0,97.70,92.590343,A

In [4]:
df_final.to_csv('CPSC256_Grades_Fall2023_Final.csv', index=False)